body {
    background-color: #302c2c;
}
.top {
    background-color: #e6e3e3;
    height: 100px;
    width: auto;
    justify-content: center;
    text-align: center;
}
.about {
    background-color: #e6e3e3;
    height: 200px;
    width: 300px;
}