html {
background-color: rgb(255, 255, 255);
}

header {  
  display: flex;
  justify-content: center;
height: 200px;
width: 100%;
background: rgba(175, 166, 166, 0.705);
}
.content {
display: flex;
background-color: rgba(230, 219, 219, 0.582);
}
h1 {
 text-decoration: underline;
}